@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

:root{
    --font-primary: "gg sans","Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    --font-display: "gg sans","Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    --font-headline: "ABC Ginto Nord","Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.background{
    margin: 0 auto;
}
body{
    background-color: #5865f2;
    background: #fff;
    color: #000;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
}
ul{
    display:flex;
    width: 50%;
    justify-content: space-around;
    margin: 0 350px ;
    height: 90px;
    align-items: center;
    
}
.container{
    color: #fff;
    z-index: 20;
    position: relative;
}
li{
    list-style-type: none;
    font-weight: bold;
}
h1{
    margin: 0 auto;
    text-align: center;
    width: 500px;
    font-size: 70px;
    height: 300px;
    display: flex;
    align-items: center;
    font-family: 'Paytone One', sans-serif;

}
h2{
    color: #23272a;
    margin: 0 700px;
    text-align:left;
    width: 500px;
    font-size: 45px;
    height: 300px;
    display: flex;
    align-items: center;
    font-family: 'Paytone One', sans-serif;
}
p{
    margin: 0 auto ;
    text-align: center;
    width: 600px;
    font-size: 21px;
    height: 20px;
    display: flex;
    align-items: center;
    font-family: "gg sans","Noto Sans"
}
.lista{
    width: 150px;
    font-family: 'Roboto', sans-serif;
}
.preto{
    text-align:left;
    color: #23272a;
    display:flex;
    font-size: 19px;
    width: 400px;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    margin: 40px 700px;
}

header{
    background-color: #3d4cf3;
    height: 600px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.back{
    z-index: 10;
    position: absolute;
    height: 700px;
    margin: 46px 0 0 0px;
    width: 1671px;
}
.right{
    z-index: 10;
    position: absolute;
    margin: 248px 0 0 -230px;
}

.left{
    z-index: 10;
    position: absolute;
    
    margin: 240px 0 0 850px;
}
.grupo{
    z-index: 10;
    position: absolute;
    margin: 50px 50px;
}
.logo{
    z-index: 10;
    position: relative;
    
    margin: 33px 0 0 200px;
    width: 110px;
}
#login{
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 15px;
    padding: 5px;
    text-decoration: none;
    color: #000;
    margin: -60px 1300px;
    position: absolute;
}
#download{
    background-color: #fff;
    border: 5px solid #fff;
    border-radius: 45px;
    padding: 7px;
    text-decoration: none;
    color: #000;
    margin: 60px 400px;
    position: absolute;
}
#abrir{
    background-color: #23272a;
    border: 5px solid #23272a;
    border-radius: 45px;
    text-decoration: none;
    color:#fff;
    margin: 60px 650px;
    height: 40px;
    position: absolute;
    width: 225px;
    display: flex;
    align-items: center;
}
.container-beige{
    z-index: 20;
    position: relative;
    background-color: rgb(247, 242, 235);


}
.grupo-beige{
    z-index: 10;
    position:absolute;
    margin: 500px 0 500px -500px;
    height: 450px;
    background-color: rgb(247, 242, 235);
}
.ligacao-beige{
    margin: 500px 0 0 600px;
    position: absolute;
    z-index: 20;

}
.grupo-friend{
    z-index: 10;
    position: absolute;
    margin: 950px 50px;
}
.img-friend{
    margin: 1000px 0 0 0px;
    position: absolute;
    z-index: 20;
}
.final{
    color: #23272a;
    margin: 1500px 400px;
    text-align:center;
    width: 600px;
    font-size: 50px;
    height: 200px;
    display: flex;
    align-items: center;
    font-family: 'Paytone One', sans-serif;
    position:relative;
    
}
.p-final{
    text-align:center;
    color: #23272a;
    display:flex;
    font-size: 20px;
    width: 900px;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    margin: -1530px 250px;
}
.grupo-final{
    z-index: 10;
    position: relative;
    background-color: rgb(247, 242, 235);
    height: 1000px;

}
.img-final{
    position: relative;
    margin: 1500px 250px 0 250px;
    z-index: 20;
}
.container-final{
    color: #fff;
    z-index: 20;
    position: relative;
}

.img-detalhe{
    position: relative;
    z-index: 20;
    align-items: center;
    margin: 0px 400px;
}

h3{
    color: #23272a;
    font-size: 30px;
    width: 100%;
    justify-content: center;
    display: flex;
    margin: -20px 0px 50px;
}

footer {
    height: 500px;
    background-color: #23272a;
    width: 100%;
    margin: 0 auto;
}
#footer{
    display: flex;
}

.socials svg{
    margin: 0 10px 0 20px;
    color: white;
    z-index: 20;
    width: 30px;
} 
.imagine-final{
    color: #3d4cf3 !important;
    display: flex;
    font-size: 35px;
    font-family: 'Paytone One', sans-serif;
    width: 80px;
    position: relative;
    margin: 50px;
    height: 150px !important;
}

.register {
    display: flex;
    padding: 10px 20px;
    border-radius: 28px;
    justify-content: center;
    font-family: var(--font);
    background-color: #5865F2;
    color: #fff;
    width: 50px;
    margin: -40px 900px;
}

.col {
    display: flex;
    flex-direction: column;
    font-family: var(--font);
    color: #5865f2;
    line-height: var(--line-height);
    margin: 50px 30px 0 0
}
a{
    color:white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
.coluna-inicial{
    margin: -20px 30px 0 0;

}
#language{
    margin: 0 0 20px 40px;
    background-color: transparent;
    color: #FFF;
    font-weight: bold;
    border: 1px solid #FFF;
    padding: 16px 32px;
    border-radius: 15px;
}
#baixar {
    font-size: 20px;
    background-color: #5865f2;
    padding: 20px;
    height: 5px;
    border-radius: 25px;
    align-items: center;
    position: relative;
    margin: 1000px 0 0 550px ;
}